body {
  background-image: url(https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/38600335_2092993681028903_7379538045491478528_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeFrbON3KADniPpM3pYZa8-Orqr5odJyf9euqvmh0nJ_10Movfx7OP-2QfxKBsrAzms&_nc_ohc=DC6A9KFO7sQAX_7r9VG&tn=ZCuGpwvUrp_yAwzM&_nc_ht=scontent.faep9-1.fna&oh=00_AT93HkgNrjZrGHzTGi4Rl155XIEn6yJsbHtBlBk3NHkKaQ&oe=627E32F9);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
