
/* 
tengo en el component: filtersContainer , filters
*/

.filtersContainer{
    display: flex;
    width: auto;
    height: auto;
    padding: 10px; 
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.739);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.77) 0px 0px 10px ;
}

.filters{
    background-color: rgba(215, 213, 213, 0.805);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.77) 0px 0px 10px ;
    margin: 10px;
    font-weight: bold;
}