
/* 
tengo en el component: filtersContainer , filters
*/

.filtersContainer{
    display: flex;
    width: 480px;
    height: 40px;
    padding: 10px; 
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(58, 117, 195, 0.963);
    align-items: center;
}

.filters{
    background-color: rgba(107, 159, 204, 0.501);
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}