

/* 
 tengo en el componente : homeContainer
 */


 .container{
    display: flex;
    flex-direction: column;
 }

 .header{
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 1%;
    background-color: rgba(250, 235, 215, 0.739);
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.77) 0px 0px 10px ;

 }


.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card{
    display: inline-flex;
    text-decoration: none;
}


.createButton{
    margin-left: 10px;
    border: none;
    background-color: rgba(228, 223, 217, 0.777);
    box-shadow: rgba(66, 67, 43, 0.855) 0px 0px 10px ;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.createButton:hover{
    background-color: rgba(255, 255, 255, 0.968);
    box-shadow: rgba(255, 246, 71, 0.733) 0px 0px 10px ;
    cursor: pointer;
}




.loading{
    font-size: 100px;
    animation: boldeando 2s infinite;
}

@keyframes boldeando {
    from{
        color: black
    } to {
        color: rgb(255, 217, 0);
    }
    
}