/* .landing {
    background: url(https://images.pexels.com/photos/10307187/pexels-photo-10307187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */


