.container{
    display: flex;
    padding-top: 0,5%;
    align-items: center;
    
}


.label{
    border-radius: 10px;
    width: 150px;
    height: 35px;
    margin-left: 10px;
    background-color: rgba(228, 223, 217, 0.777);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.77) 0px 0px 10px ;

}
.goButton{
    margin-left: 10px;
    border: none;
    background-color: rgba(228, 223, 217, 0.777);
    box-shadow: rgba(0, 0, 0, 0.77) 0px 0px 10px ;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    margin-top: 7%;
    font-weight: bold;

}
.goButton:hover{
    background-color: rgba(255, 255, 255, 0.968);
    box-shadow: rgba(255, 246, 71, 0.733) 0px 0px 10px ;
    cursor: pointer;
}